h3{
    text-align: center;
    color: whitesmoke;
}
.container
{
    text-align: center
}
 body{
     background: rgb(25, 129, 180)
     
 }
 
 
 header

 { width:100%;
     height:50px; 
     background: rgba(53, 52, 52, 0.932);
     font-size: 40px 
     
 }